body {
  background-color: #bebebe;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  flex-direction: column;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#submit {
  border: none;
  padding: 5px;
  min-width: 150px;
  border-radius: 4px;
  background-color: crimson;
  color: white;
}

#submit:hover {
  background-color: rgb(133, 0, 27);
}
