img {
    /* this one will get overwritten in the cascade */
    width: 100px;
}

img {
    width: 500px;
    border: 5px solid black;
    padding: 1em;
    padding-bottom: 2em;
    margin: 0.5em;
}

/* The : pseudo-class selector selects elements only in certain conditions */
img:hover {
    opacity: 50%;
}

h1 {
    color: orangered;
}

.blue {
    color: blue;
}

.bold {
    font-weight: 900;
}

h6 {
    font-size: 2em;
    margin: 0;
}

#unordered {
    color: green;
}

.special {
    font-size: 1.3em;
    font-weight: 900;
}

a {
    /* we can change inline elements to block, and vice versa */
    display: block;
}

a:hover {
    color: greenyellow;
}
